.header {
  grid-area: h;
  background-color: #333333;
  width: 100%;
  position: relative;
  border-radius: 0 0 10px 10px;
}
.logo{
  position: absolute;
  top: 5px;
  left: 8px;
}
.re{
  position: absolute;
  top: 16px;
  left: 65px;
  color:rgba(72, 169, 254, 0.791);
  font-size: 26px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 900;
}