.container{
    padding: 20px 10px 30px;
    max-width: 750px;
}
.content img{
    max-width: 650px;
    max-height: 550px;
    object-fit: cover;
}
.content{
    border: 1px solid var(--color);
    padding-left:15px;
    padding-bottom: 30px;
}
.news__user{
    max-width: 510px;
    height: 40px;
    display: flex;
    align-items: flex-start;
    padding-bottom: 50px;
    
}
.news__user a{
    color:#373fad;  
}
.imgnews__user{
    width: 40px;
    height: 40px;
    border-radius:50%;
    margin-right: 8px;
}
.content__text{
    padding-bottom:15px;
}
.textarea{
    border: 1px solid var(--color);
    width: 100%;
    height: 110px;
    border-radius: var(--radius);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 20px;
}
.textarea textarea{
    width: 97%;
    height: 50px;
    resize: none;
    margin: 10px 0px 5px 5px;
}
.buttonnews button{
    padding: 5px 50px;
}
.buttonnews{
   
}
.Post{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.PostItem{

}