* {
  box-sizing: border-box;
  text-decoration: none;
}
:root{
  --radius: 10px;
}

body {
  font-weight: 400;
  font-family: "Lato", sans-serif;
  line-height: 24px;
  font-size: 14px;
  color:#fff;
  background-color: #141414;
}
.app-wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  display: grid;
  grid-template-areas:
    "h h"
    "n c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}
.app-wrapper__content{ 
    grid-area: c;
    background-color: #333333;
    border-radius:var(--radius);  
}