.container{
    padding: 20px 10px 30px;
    max-width: 550px;
}
.block{
    width: 100%;
    height: 80px;
    border: solid 1px var(--color);
    display:flex;
}
.ava__desp{
    display: flex;
    width: 80%;
}
.user__photo img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
}
.user__photo{
    padding: 5px 5px;
}
