.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogs__item{
    display: flex;
    justify-content: space-around;
    gap: 1px;
    flex-direction: column;
}
.dialog{
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: space-around;
 
}

.messages{
    
}